/**
 * Visual Blocks Editor
 *
 * Copyright 2012 Google Inc.
 * http://code.google.com/p/google-blockly/
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/**
 * @fileoverview Style sheet for a Blockly editor.
 * @author fraser@google.com (Neil Fraser)
 */

.blocklyDraggable {
  /* Hotspot coordinates are baked into the CUR file, but they are still
     required in the CSS due to a Chrome bug.
     http://code.google.com/p/chromium/issues/detail?id=1446 */
  cursor: url(media/handopen.cur) 8 5, auto;
}
.blocklyResizeSE {
  fill: #aaa;
  cursor: se-resize;
}
.blocklyResizeSW {
  fill: #aaa;
  cursor: sw-resize;
}
.blocklyResizeLine {
  stroke-width: 1;
  stroke: #888;
}
.blocklyHighlightedConnectionPath {
  stroke-width: 4px;
  stroke: #fc3;
  fill: none;
}
.blocklySelected {
  stroke-width: 3px;
  stroke: #fc3;
}
.blocklyDragging {
  fill-opacity: 0.8;
  stroke-opacity: 0.8;
}
.blocklyText {
  cursor: default;
  font-family: sans-serif;
  font-size: 8pt;
  fill: #fff;
}
.blocklyHeader {
  cursor: default !important;
  font-family: sans-serif;
  font-size: 15pt;
  fill: #000;
}
.blocklyNonEditableText>rect,
.blocklyEditableText>rect {
  fill: #fff;
  fill-opacity: 0.6;
}
.blocklyNonEditableText>text,
.blocklyEditableText>text {
  fill: #000;
}
.blocklyEditableText:hover>rect {
  stroke-width: 2;
  stroke: #fff;
}
/*
 * Don't allow users to select text.
 * It gets annoying when trying to drag a block and selected text moves instead.
 */
.blocklySvg text {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: inherit;
}

.blocklyHidden {
  display: none;
}
.blocklyTooltipBackground {
  fill: #ffffc7;
  stroke-width: 1px;
  stroke: #d8d8d8;
}
.blocklyTooltipShadow,
.blocklyContextMenuShadow,
.blocklyDropdownMenuShadow {
  fill: #bbb;
  filter: url(#blocklyShadowFilter);
}
.blocklyTooltipText {
  font-family: sans-serif;
  font-size: 9pt;
  fill: #000;
}

.blocklyIconShield {
  cursor: default;
  fill: #00c;
  stroke-width: 1px;
  stroke: #ccc;
}
.blocklyMutatorMark {
  cursor: default;
  fill: #ccc;
}
.blocklyIconGroup:hover>.blocklyIconShield {
  fill: #00f;
  stroke: #fff;
}
.blocklyIconGroup:hover>.blocklyMutatorMark {
  fill: #fff;
}
.blocklyCommentMark {
  cursor: default !important;
  font-family: sans-serif;
  font-size: 9pt;
  font-weight: bold;
  fill: #ccc;
}
.blocklyMinimalBody {
  margin: 0;
  padding: 0;
}
.blocklyCommentTextarea {
  margin: 0;
  padding: 2px;
  border: 0;
  resize: none;
  background-color: #ffc;
}
.blocklyHtmlInput {
  font-family: sans-serif;
  font-size: 11pt;
}
.blocklyContextMenuBackground,
.blocklyMutatorBackground {
  fill: #fff;
  stroke-width: 1;
  stroke: #ddd;
}
.blocklyContextMenuOptions>.blocklyMenuDiv,
.blocklyContextMenuOptions>.blocklyMenuDivDisabled,
.blocklyDropdownMenuOptions>.blocklyMenuDiv {
  fill: #fff;
}
.blocklyToolboxOptions>.blocklyMenuDiv {
  fill: #ddd;
}
.blocklyToolboxOptions>.blocklyMenuDiv:hover {
  fill: #e4e4e4;
}
.blocklyContextMenuOptions>.blocklyMenuDiv:hover>rect,
.blocklyDropdownMenuOptions>.blocklyMenuDiv:hover>rect {
  fill: #57e;
}
.blocklyMenuSelected>rect {
  fill: #57e;
}
.blocklyMenuText {
  cursor: default !important;
  font-family: sans-serif;
  font-size: 15px; /* All context menu sizes are based on pixels. */
  fill: #000;
}
.blocklyContextMenuOptions>.blocklyMenuDiv:hover>.blocklyMenuText,
.blocklydropdownMenuOptions>.blocklyMenuDiv:hover>.blocklyMenuText {
  fill: #fff;
}
.blocklyMenuSelected>.blocklyMenuText {
  fill: #fff;
}
.blocklyMenuDivDisabled>.blocklyMenuText {
  fill: #ccc;
}
.blocklyToolboxBackground {
  fill: #ddd;
}
.blocklyFlyoutBackground {
  fill: #ddd;
  fill-opacity: 0.8;
}
.blocklyScrollbarBackground {
  fill: #fff;
  stroke-width: 1;
  stroke: #e4e4e4;
}
.blocklyScrollbarKnob {
  fill: #ccc;
}
.blocklyScrollbarBackground:hover+.blocklyScrollbarKnob,
.blocklyScrollbarKnob:hover {
  fill: #bbb;
}
.blocklyInvalidInput {
  background: #faa;
}
.blocklyScreenShadow {
  fill: #000;
  fill-opacity: 0.3;
}
.blocklyButtonBackground {
  fill: #eee;
  stroke: #ddd;
  stroke-width: 1;
}
.blocklyButton:active>.blocklyButtonBackground {
  stroke: #00f;
  stroke-width: 1;
}
.blocklyButtonText {
  cursor: default !important;
  font-family: sans-serif;
  font-size: 13pt;
  fill: #000;
}
.blocklyLaunchButton>.blocklyButtonBackground {
  fill: #d43;
}
.blocklyLaunchButton>.blocklyButtonText {
  fill: #fff;
}
.blocklyButtonShadow {
  fill: #bbb;
  filter: url(#blocklyShadowFilter);
  display: none;
}
.blocklyButton:hover>.blocklyButtonShadow {
  display: block;
}
